{%extends"base.html" %}
{% from "macros/nav.html" import nav%}
{%block seo%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <title>Login to LowonCost</title>
    <meta name="description" content="Log in to LowonCost.xyz and start affiliate marketing.">
{%endblock%}

{%block content%}
{{nav(loggedin = False, userprofile = False)}}
<div id="content">
    <div class="login-card">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
        <div class="" id="alertdiv">
            {% for category, message in messages %}
            <div class="alert" style="color: red;"><span>{{ message }}</span></div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            {{form.username.label}}
            {{form.username(placeholder="Username", required="required")}}
            
            {{form.password.label}}
            {{form.password(placeholder="Password", required="required")}}
            <!-- <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
             -->
            <button id="submitbut" type="submit">Log In</button>
        </form>
        <br>
        <div id="more"> 
        <a href="/forgot">Forgot Password</a>
        <br><br>
        Don't have an account? <a href="/signup">Sign up</a>
    </div>
    
    </div>
</div>

<script>
    const myTimeout = setTimeout(myFunction, 5000);
    function myFunction(){
        let selecterr = document.getElementById("alertdiv")
        selecterr.innerHTML = ""
        
    }
    </script>
{%endblock%}