{%macro category()%}
<h3 class="section-header">Browse Categories</h3>

    <div class="category-container">
        <button class="category-btn">All</button>
        <button class="category-btn">Electronics</button>
        <button class="category-btn">Fashion</button>
        <button class="category-btn">Home & Garden</button>
        <button class="category-btn">Sports</button>
        <button class="category-btn">Books</button>
        <button class="category-btn">Others</button>
        <!-- <button class="category-btn add-category-btn">+ Add Category</button> -->
    </div>
    {%endmacro%}