{%macro Card(item, username, userprofile)%}
{% set disc = (item['originalPrice'] - item['currentPrice'])/ item['originalPrice'] *100%}
{%set id = item['_id']['$oid'] %}


{%if userprofile == False%}
<a href="/details/{{id}}" title="Offer Details of {{item['title'][:70]}}">
{%endif%}
    <div class="deal-card">
        <div class="image-container">
            <img class="deal-image" src="{{item['imageUrl']}}" alt="{{item['title'][:50]}}" width="300" height="200" loading="lazy">
            
            <button class="share-button" data-url="/details/{{id}}" aria-label="Share">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <circle cx="18" cy="5" r="3" />
                    <circle cx="6" cy="12" r="3" />
                    <circle cx="18" cy="19" r="3" />
                    <line x1="8.59" y1="13.51" x2="15.42" y2="17.49" />
                    <line x1="15.41" y1="6.51" x2="8.59" y2="10.49" />
                </svg>
            </button>
        </div>
        <div class="deal-content">
            <h3 class="deal-title">{{item['title'][:70]}}</h3>
            <div class="tags-container">
                <span class="sub-category">{{item['category']|title}}</span>
                <span class="sub-category"> @{{item['username']|title}}</span>
            </div>
            <div class="price-container">
                <span class="current-price">₹{{item['currentPrice']}}</span>
                <span class="original-price">₹{{item['originalPrice']}}</span>
                <span class="discount">-{{disc | int}}% </span>
            </div>
            <div class="button-container">
                {%if userprofile%}
                <a href="{{item['dealUrl']}}" title="View Offer" target="_blank" class="btn btn-view">View Offer</a>
                <a href="/details/{{id}}" title="Offer Details" class="btn btn-details"> Details</a>
                <!-- <button class="btn btn-details">Details</button> -->
                <!-- <button class="btn btn-edit">Edit Deal</button> -->
                <a href="/profile/editdeal/{{id}}" title="Edit Deal" class="btn btn-edit">Edit Deal</a>
                {%endif%}
            </div>
        </div>

        
        
    </div>
    {%if userprofile == False%}
</a>
{%endif%}
{%endmacro%}