{%extends"base.html" %}
{% from "macros/category.html" import category%}
{% from "macros/dealsCard.html" import Card%}
{% from "macros/nav.html" import nav%}
{%block seo%}

<title>Lowoncost</title>
<meta name="description" content="Find the lowest prices on the product you love with Lowoncost. Check out lowest priced deals across different websites">
<meta name="keywords" content="save money, Top deals from Ajio, Top deals from Amazon, Top deals from Flipkart, Top deals from Myntra, ajio offers">
<meta property="og:title" content="Lowoncost">
<meta property="og:description" content="Find the lowest prices on the product you love with Lowoncost. Check out lowest priced deals across different websites">
<meta property="og:image" content="{{url_for('static', filename='icons/banner.webp')}}">
<meta content="IN" name="country">
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">


{%endblock%}

{%block content%}

{{nav(loggedin, userprofile, username)}}

<!-- #caliing category macro -->
{{category(username = False)}}

<div class="deals-header">
    <h3 class="section-header" style="margin: 0;">Latest Deals</h3>
</div>
{%if items==[]%}
<h3 style="text-align: center;">No deals found. Add new deal...</h3>
{%endif%}
<div class="deals-container" id="deals-container">
    {%for item in items %}
    <!-- Deal Cards -->
    {{Card(item, username, userprofile)}}
    {%endfor%}



</div>
<!-- {%if items |length >= 12%}
<button id="loadbut" class="load-more" onclick="loadmore()">
    <p>Load more...</p>
</button>
{%endif%} -->

{% include "footer.html"%}
<script src="{{url_for('static', filename='js/loadmore.js')}}"></script>
{%endblock%}