{%extends"base.html" %}
{%block seo%}
<title>Sign Up to LowonCost</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{%endblock%}

{%block content%}
<div class="login-card" style="margin-bottom: 10px;">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    <div class="" id="alertdiv">
        {% for category, message in messages %}
        <div class="alert" style="color: red;"><span>{{ message }}</span></div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/signup">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
            required>

        <button type="submit">Create a New Account</button>
    </form>
    <br>
    <div id="more">
        Already have an account?<a style="color: #007bff; font-weight: 600;" href="/login"> Log in</a>
    </div>
</div>

</body>
<script>
    const myTimeout = setTimeout(myFunction, 5000);
    function myFunction() {
        let selecterr = document.getElementById("alertdiv")
        selecterr.innerHTML = ""

    }
</script>
{%endblock%}